
/*Links*/
a {
    text-decoration: none;
    color: none
}

/*Hero*/
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.9)),
        url("../img/img-01-planeta-terra.jpg");
    background-size: cover;
    background-position: center;
}


/* Sobre */
.sobre__projeto {
    padding: 6rem 8%;
    background-color: #0a1026;
}

/*Container Sobre*/
.sobre__container {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

/* Texto Sobre */
.sobre__texto {
    flex: 1;
}

.sobre__texto p {
    margin-bottom: 1.5rem;
    color: #d4d4d4;
    font-size: 1.1rem;
}

/*sobre imagens*/
.sobre__img {
    flex: 1;
}

.sobre__img img {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(76, 201, 240, 0.2);
    max-height: 500px;
}

/*Serviços*/
.servicos {
    padding: 6rem 8%;
}

/*Cards*/
.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*estilização de links*/
.links:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(76, 201, 240, 0.5);
}

/* Beneficios*/
.beneficios {
    padding: 6rem 8%;
    background-color: #0a1026;
}

/* Grid beneficios*/
.beneficios__conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

/*itens dos beneficios*/
.item__beneficio {
    background-color: #101935;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #1f2d5a;
}


/* Chamada*/
.chamada {
    background:
        linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.9)),
        url("../img/img-02-terra-de-fundo.jpg");
   
}

.chamada h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.chamada p {
    margin-bottom: 2rem;
    color: #d1d1d1;
}

